.animals {
    display: flex;
    justify-content: space-evenly;
}
.employees {
    display: flex;
    justify-content: space-evenly;
}

.card {

    width: 15rem;
    margin-top:2rem;

}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.employeeLocations{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.locationHeading{
    text-align: center;
    margin-top: 4rem
}

.card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}
.animalButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
  }
  .addButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
  }
.icon{
    width: 50px;
    height: 50px;}
a{
    margin-top:1rem
}
h1{
        text-align: center;
        margin-top: 4rem
}
.list{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}
.loginForm{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}